<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SDETech.sdetech" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <SDETech.sdetech>
            <setting name="api_base_url" serializeAs="String">
                <value>https://msg.sdetech.com/messaging.asmx/</value>
            </setting>
            <setting name="send_method_name" serializeAs="String">
                <value>SendSMSFromNumber</value>
            </setting>
            <setting name="confirm_method_name" serializeAs="String">
                <value>GetPhoneVerification</value>
            </setting>
            <setting name="check_keyword_method" serializeAs="String">
                <value>CheckKeyword</value>
            </setting>
            <setting name="provision_keyword_method" serializeAs="String">
                <value>AddShortCodeKeyword</value>
            </setting>
            <setting name="shorten_link_method" serializeAs="String">
                <value>CreateShortLink</value>
            </setting>
            <setting name="file_store_method" serializeAs="String">
                <value>CreateShortLink2</value>
            </setting>
        </SDETech.sdetech>
    </applicationSettings>
</configuration>